<main class="bg-blue-grey h-full min-h-screen w-screen">
  <nav class="flex items-center justify-between flex-wrap py-3 px-6">
    <div class="w-full block flex-grow flex justify-between w-auto">
      <div class="text-lg text-off-white uppercase">
        Monday Night
      </div>
      <div class="text-sm px-2">
        {{#link-to "emails" class="text-off-white"}}
          Emails
        {{/link-to}}
      </div>
    </div>
  </nav>
  <section class="container mx-auto max-w-md">
    {{outlet}}
  </section>
</main>
