<main class="bg-blue-grey h-full min-h-screen w-screen">
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        {{#link-to emails class="text-off-white"}}
          Emails
        {{/link-to}}
      </div>
    </div>
  </nav>
  {{outlet}}
</main>
